@CHARSET "UTF-8";
*{margin:0px;padding:0px;font-family: microsoft yahei;font-size: 12px;}
.manage_left{float:left;width:230px;margin-right:10px;color: #fff;width: 20%;}
.manage_right{float:left;width:800px;background: #fff;width: 75%;}
.manage_left ul.left_banner li{list-style:none;padding-left: 20px;line-height: 30px;}
.manage_left ul.left_banner li a{cursor:pointer;}
.login-page{background: url(../../images/logo2.png) center 160px no-repeat;background-color: #000;}
.login-form{margin: 250px auto;width: 350px;color: #fff;}
.login-form table tr td{padding: 10px;}
.login-form table tr td input{padding: 3px;}
.login-form .login-btn{margin: 45px 0 0 98px;}
.ui-btn{background:#72ab15;color: #fff;padding: 11px 19px;cursor: pointer;border-radius: 5px;text-decoration: none;}
.gray-btn{background:#ececec;color: #333;padding: 11px 19px;cursor: pointer;border-radius: 5px;text-decoration: none;}

.warn{color: red;}

.admin-index{background-color: #000;}
.modify-pasword table tr td{padding: 10px;}
.modify-password table tr td input{padding: 3px;}
.modify-pasword .confirm-btn{margin: 30px;}
#user_info{margin: 10px 0 20px 20px;border-bottom: solid 1px #fff;}
.product-container{padding: 10px;}
.product-container h3{padding: 5px;background: #ececec;}
.product-container .product{float: left;margin: 20px;width: 260px;overflow: hidden;height: 170px;}
.product-container .product .buy-amount span{font-weight: bold;cursor: pointer;margin: 0 5px;}
.product-container .product .buy-amount input{width: 30px;}
.product-container .product .productImg img{width: 100px;}
.buy-confirm{clear: left;margin: 50px auto;width: 200px;}